body {
    font-family: 'Catamaran','Noto Sans KR','sans-serif';
    font-size: 16px;
    line-height: 1.5;
    color: #2c2c2c;
    background-image: url(../images/bg.png);
}

.back-button {
  display: inline-block;
  padding: 5px;
  background-color: #3333; /* 초록색 */
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.video {
    margin: 0 auto;
}

.topPage header {
    margin: 0 auto 44px;
}

.topPage .logo img {
    width: 400px;
    padding: 0 auto;
}

.topPage header {
    text-align: center;
    padding: 20px 0px 16px;
}

.topPage header nav ul {
    display: flex;
    justify-content: center;
    padding: 12px 0px 10px;
}

.topPage header nav ul li {
    margin: 0 20px;
}

.topPage header nav ul li span {
    font-size: 22px;
    font-weight: bold;
    color: #7c5d48;
}

.topPage header nav ul li img {
    width: 60px;
}

/*subpage*/
.subPage header {
    margin: 0 auto;
}

.subPage header h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: .17em;
    text-transform: uppercase;
}

.subPage .logo img {
    width: 400px;
    padding: 0 auto;
}

.subPage header {
    text-align: center;
    padding: 20px 0px 16px;
}

.subPage header nav ul {
    display: flex;
    justify-content: center;
    padding: 12px 0px 10px;
}

.subPage header nav ul li {
    margin: 0 20px;
}

.subPage header nav ul li span {
    font-size: 22px;
    font-weight: bold;
    color: #7c5d48;
}

.subPage header nav ul li img {
    width: 60px;
}

.subPage .lead {
    text-align: center;
    margin-bottom: 30px;
    font-size: 11px;
    letter-spacing: .05em;
    line-height: 2;
}


/* linkList */
.linkList {
    padding: 0 20px;
}

.linkList li {
    margin-bottom: 40px;
}

.linkList li a {
    display: block;
}

.linkList li a span {
    display: block;
    padding: 12px 15px 10px;
    font-size: 18px;
}

.linkList li a:hover {
    filter: brightness(105%);
}

/*story*/

.StoryDetail {
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.StoryDetail p {
    margin-top: 10px;
    font-weight: bold;
}

.StoryDetail img {
    width: 300px;
}

/*city*/
.Citydetail {
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.Citydetail h2 {
    font-size: 24px;
    font-weight: bold;
}

.Citydetail p {
    font-size: 12px;
    font-weight: bold;
    margin-top: 16px;
}

.Citydetail img {
    width: 600px;
    margin-top: 20px;
}

/*contatent*/
.contentdetail {
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.contentdetail h2 {
    font-size: 16px;
    font-weight: bold;
}

.contentdetail img {
    width: 360px;
}

.contentdetail p {
    font-size: 13px;
    font-weight: bold;
}

.jobDetail {
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.jobDetail h2 {
    font-size: 16px;
    font-weight: bold;
}

.jobDetail img {
    width: 360px;
}

.jobDetail p {
    font-size: 13px;
    font-weight: bold;
}

.Tanker {
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.Tanker img {
    width: 400px;
}